.nbitems {
    padding-left: 50px;
    word-spacing: 15px;
    font-size: 20px;
}

.btcolor {
    background-color: white;
    color: #333;
}

.sizeimg {
    width: 100%;
    height: 600px;
}

.imgtext {
    color: lightblue;
    font-size: 20px;
    text-align: justify;
}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: right;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.footer {
    background-color: #333;
    text-align: center;
    color: white;
}

body {
    background-color: gray;
}

.lgpage {
    margin-top: 50px;
}

.f1 {
    margin-top: 162px;
}

.phsize {
    width: 550px;
    height: 250px;
}

#h3 {
    text-align: center;
}

#image-army {
    height: 300px;
}